extends layout

block content
  .container
    //- .row
    //-   .col-md-12
    //-     h2 Lovelace Insights  
    .row
      .col-md-12
        h4 Shipping Instances
    .row
      .col-md-12
        //- .list-group
        //-   a.list-group-item(href="/#")
        //-     ul(style="list-style-type: none;")
        //-       li 1
        //-       li 2
        //-       li 3
        //-       li 4
        table.table
          thead
            tr
              th Container ID
              th Shipper Contact
              th Import/Export
              th Start Location
              th Destination
              th Start Time
              th End Time
              th Average Process Time
              th Total Time in Process (Hours)
              th Status
          tbody
            each instance in instances
              tr
                td
                  a(href="/instances/#{instance.container_id}") #{instance.container_id}
                td= instance.shipper_contact
                td= instance.import_export
                td= instance.start_location
                td= instance.destination
                td= instance.start_time
                td= instance.end_time
                td
                td= instance.passedTime
                td= instance.in_process
